@import url('https://fonts.googleapis.com/css2?family=Playball&family=Ubuntu:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
}

html {
  scroll-behavior: smooth;
}

/* Improve media defaults */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create Custom Scroll-Bar */
::-webkit-scrollbar {
  width: 10px;
  background: #c5cadf;
}

::-webkit-scrollbar-thumb {
  background: #70768a;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #454f6b;
}

/* CSS Custom Variable */
:root {
  --bg-white: #fff;
  --bg-gray: #f4f4f4;
  --bg-dark: #464646;
  --bg-footer: #3a3a3a;
  --link-color: #e54c2a;
  --link-hover-color: #4c4c4c;
  --nav-link-hover-color: #e54c2a;
  --text-primary: #4c4c4c;
  --text-white: #fff;
  --text-gray: #808285;
}

body {
  font-family: 'Playball', cursive;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

/* Common CSS Classes */
.container {
  max-width: 1440px;
  width: 80%;
  margin-inline: auto;
}

/** Navigation */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  height: 80px;
}

.navbar .brand-title {
  max-width: 250px;
  height: auto;
  border: 0;
  cursor: pointer;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-links ul li a {
  display: block;
  color: var(--text-gray);
  padding: 0 20px;
  font-size: 15px;
  transition: 0.35s ease;
}

.navbar-links ul:last-child li a.btn {
  padding: 14px 35px;
  color: var(--text-white);
}

.navbar-links li a:hover {
  color: var(--nav-link-hover-color);
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--link-color);
  border-radius: 10px;
}

/** Header */
header {
  height: calc(100vh - 80px);
  background: url(../images/header-bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  transition: 0.3s ease;
  color: var(--text-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header .text p {
  font-size: 18px;
  padding-bottom: 2rem;
}

header .text h1 {
  font-size: 60px;
  font-family: 'Playball', cursive;
}

header .divider {
  width: 55px;
  height: 4px;
  margin-inline: auto;
  background-color: var(--link-color);
  margin-top: 2rem;
}

header > p {
  font-size: 15px;
  padding: 2rem 0;
}

.btn {
  display: inline-block;
  background-color: var(--link-color);
  color: var(--text-white);
  padding: 14px 35px;
  border-radius: 30px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: var(--link-hover-color);
}

/** Our Story */
.story-section-container {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.story-image,
.story-content {
  flex: 1;
}

.story-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.image-1 {
  grid-column: 1 /2;
  grid-row: 1 /2;
  height: 100%;
}

.image-2 {
  grid-column: 1 /2;
  grid-row: 2 / -1;
  height: 100%;
}

.image-3 {
  grid-column: 2/-1;
  grid-row: 1 / -1;
  height: 100%;
}

.story-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.story-content h2 {
  font-size: 30px;
  color: var(--text-primary);
  padding-left: 15px;
}

.story-content p {
  padding: 2rem 0 3rem;
  line-height: 30px;
  width: 70%;
}

/** Media Query */

@media (max-width: 992px) {
  /** Navigation */
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul:last-child li a.btn {
    display: none;
  }

  .navbar {
    width: 95vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    z-index: 1000;
    border-radius: 8px;
    font-weight: 600;
    position: absolute;
    top: 3rem;
    left: 1rem;
    background-color: #f9f9f9;
    height: fit-content;
  }

  .navbar-links li {
    padding: 10px 0;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar .brand-title {
    max-width: 150px;
  }
}
